[mysqld]
lower_case_table_names = 1
character-set-server = utf8
bind-address = 127.0.0.1
datadir = /home/mysql
pid-file = /var/lib/mysql/mysqld.pid
socket = /var/lib/mysql/mysql.sock
basedir = /usr

skip-partition

bulk_insert_buffer_size=0
# using the defaults for the hardware appliance / x86_64 build
innodb_data_file_path=ibdata:100M:autoextend:max:9216M
innodb_additional_mem_pool_size=2M
innodb_log_buffer_size=1M
innodb_buffer_pool_size=64M
# only need this buffer for the
# mysql tablespace for authentication
key_buffer_size=64M
query_cache_size=32M
query_cache_limit=8M
innodb_log_file_size=16M
lower_case_table_names=1

# flush binary logs on commits.
innodb_flush_log_at_trx_commit=1
binlog_format=MIXED
max_binlog_size=500M
expire_logs_days=10
# 5 gigs of binary logs, at most. Probably less.
# And sync it too, so that the logs and the files and any remote systems are all
# in agreement. Its a performance hit for reliability.
sync_binlog=16
# set larger connection limit
max_connections=2625
# increase timeout
net_write_timeout=120

low-priority-updates=0
transaction-isolation=READ-COMMITTED
# and ignore connect errors so it retries a lot
max_connect_errors=2000000
max_allowed_packet=32M
interactive_timeout=864000
slow_query_log=1

[mysql]
# command line imports of audit data can fail with max allowed packet size
# This will help
max_allowed_packet=32M
